.git/
creds.data
googlepi.code-workspace
googlepi.jpg
googlepiBanner.jpg
googlepiLogo.jpg
Schema Nucleo Extension Shield.pdf
Voorstel - Google-Assistant.docx
assistant-sdk-python/.gitignore
assistant-sdk-python/.travis.yml
assistant-sdk-python/CONTRIBUTING.md
assistant-sdk-python/LICENSE
assistant-sdk-python/README.md
assistant-sdk-python/.git/
assistant-sdk-python/google-assistant-grpc/
assistant-sdk-python/google-assistant-library/
assistant-sdk-python/google-assistant-sdk/actions.json
assistant-sdk-python/google-assistant-sdk/CHANGELOG.rst
assistant-sdk-python/google-assistant-sdk/LICENSE
assistant-sdk-python/google-assistant-sdk/MAINTAINER.md
assistant-sdk-python/google-assistant-sdk/MANIFEST.in
assistant-sdk-python/google-assistant-sdk/nox.py
assistant-sdk-python/google-assistant-sdk/README.rst
assistant-sdk-python/google-assistant-sdk/setup.cfg
assistant-sdk-python/google-assistant-sdk/setup.py
assistant-sdk-python/google-assistant-sdk/tests/
assistant-sdk-python/google-assistant-sdk/googlesamples/__init__.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/__init__.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/library/
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/__init__.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/assistant_helpers.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/audio_helpers.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/audiofileinput.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/browser_helpers.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/device_helpers.py
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/README.rst
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/requirements.txt
assistant-sdk-python/google-assistant-sdk/googlesamples/assistant/grpc/__pycache__/
env/pyvenv.cfg
env/bin/
env/include/
env/share/
env/lib/python3.5/site-packages/_cffi_backend.cpython-35m-arm-linux-gnueabihf.so
env/lib/python3.5/site-packages/_sounddevice.py
env/lib/python3.5/site-packages/argparse.py
env/lib/python3.5/site-packages/easy_install.py
env/lib/python3.5/site-packages/google_assistant_grpc-0.2.1-py2.7-nspkg.pth
env/lib/python3.5/site-packages/google_assistant_library-0.1.0-py2.7-nspkg.pth
env/lib/python3.5/site-packages/google_assistant_sdk-0.5.1-py2.7-nspkg.pth
env/lib/python3.5/site-packages/google_auth-1.0.1-py2.7-nspkg.pth
env/lib/python3.5/site-packages/google_auth_oauthlib-0.3.0.dist-info/
env/lib/python3.5/site-packages/googleapis_common_protos-1.5.8-py3.4-nspkg.pth
env/lib/python3.5/site-packages/ipaddress.py
env/lib/python3.5/site-packages/protobuf-3.7.0-nspkg.pth
env/lib/python3.5/site-packages/six.py
env/lib/python3.5/site-packages/sounddevice.py
env/lib/python3.5/site-packages/__pycache__/
env/lib/python3.5/site-packages/argparse-1.4.0.dist-info/
env/lib/python3.5/site-packages/asn1crypto/
env/lib/python3.5/site-packages/asn1crypto-0.24.0.dist-info/
env/lib/python3.5/site-packages/cachetools/
env/lib/python3.5/site-packages/cachetools-3.1.0.dist-info/
env/lib/python3.5/site-packages/certifi/
env/lib/python3.5/site-packages/certifi-2019.3.9.dist-info/
env/lib/python3.5/site-packages/cffi/
env/lib/python3.5/site-packages/cffi-1.12.2.dist-info/
env/lib/python3.5/site-packages/chardet/
env/lib/python3.5/site-packages/chardet-3.0.4.dist-info/
env/lib/python3.5/site-packages/click/
env/lib/python3.5/site-packages/click-6.7.dist-info/
env/lib/python3.5/site-packages/concurrent/
env/lib/python3.5/site-packages/cryptography/
env/lib/python3.5/site-packages/cryptography-2.6.1.dist-info/
env/lib/python3.5/site-packages/enum/
env/lib/python3.5/site-packages/enum34-1.1.6.dist-info/
env/lib/python3.5/site-packages/futures-3.1.1.dist-info/
env/lib/python3.5/site-packages/google/
env/lib/python3.5/site-packages/google_assistant_grpc-0.2.1.dist-info/
env/lib/python3.5/site-packages/google_assistant_library-0.1.0.dist-info/
env/lib/python3.5/site-packages/google_assistant_sdk-0.5.1.dist-info/
env/lib/python3.5/site-packages/google_auth-1.0.1.dist-info/
env/lib/python3.5/site-packages/google_auth_oauthlib/
env/lib/python3.5/site-packages/google_auth_oauthlib-0.2.0.dist-info/
env/lib/python3.5/site-packages/googleapis_common_protos-1.5.8.dist-info/
env/lib/python3.5/site-packages/grpc/
env/lib/python3.5/site-packages/grpcio-1.19.0.dist-info/
env/lib/python3.5/site-packages/idna/
env/lib/python3.5/site-packages/idna-2.8.dist-info/
env/lib/python3.5/site-packages/ipaddress-1.0.22.dist-info/
env/lib/python3.5/site-packages/oauthlib/
env/lib/python3.5/site-packages/oauthlib-3.0.1.dist-info/
env/lib/python3.5/site-packages/OpenSSL/
env/lib/python3.5/site-packages/pathlib2/
env/lib/python3.5/site-packages/pathlib2-2.3.3.dist-info/
env/lib/python3.5/site-packages/pip/
env/lib/python3.5/site-packages/pip-19.0.3.dist-info/
env/lib/python3.5/site-packages/pkg_resources/
env/lib/python3.5/site-packages/pkg_resources-0.0.0.dist-info/
env/lib/python3.5/site-packages/protobuf-3.7.0.dist-info/
env/lib/python3.5/site-packages/pyasn1/
env/lib/python3.5/site-packages/pyasn1-0.4.5.dist-info/
env/lib/python3.5/site-packages/pyasn1_modules/
env/lib/python3.5/site-packages/pyasn1_modules-0.2.4.dist-info/
env/lib/python3.5/site-packages/pycparser/
env/lib/python3.5/site-packages/pycparser-2.19.dist-info/
env/lib/python3.5/site-packages/pyOpenSSL-19.0.0.dist-info/
env/lib/python3.5/site-packages/requests/
env/lib/python3.5/site-packages/requests-2.14.2.dist-info/
env/lib/python3.5/site-packages/requests_oauthlib/
env/lib/python3.5/site-packages/requests_oauthlib-1.2.0.dist-info/
env/lib/python3.5/site-packages/RPi/
env/lib/python3.5/site-packages/RPi.GPIO-0.6.5.dist-info/
env/lib/python3.5/site-packages/rsa/
env/lib/python3.5/site-packages/rsa-4.0.dist-info/
env/lib/python3.5/site-packages/setuptools/
env/lib/python3.5/site-packages/setuptools-40.8.0.dist-info/
env/lib/python3.5/site-packages/six-1.12.0.dist-info/
env/lib/python3.5/site-packages/sounddevice-0.3.13.dist-info/
env/lib/python3.5/site-packages/tenacity/
env/lib/python3.5/site-packages/tenacity-4.12.0.dist-info/
env/lib/python3.5/site-packages/urllib3/
env/lib/python3.5/site-packages/urllib3-1.24.1.dist-info/
env/lib/python3.5/site-packages/wheel/
env/lib/python3.5/site-packages/wheel-0.33.1.dist-info/
env/lib/python3.5/site-packages/googlesamples/assistant/library/
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/__init__.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/assistant_helpers.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/audio_helpers.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/audiofileinput.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/browser_helpers.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/device_helpers.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/devicetool.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/pushtotalk_original.py
env/lib/python3.5/site-packages/googlesamples/assistant/grpc/__pycache__/
node_modules/
